/* GLOBAL 
body { 
    margin: 20px 
}
*/

/* Nav */
.navigation {
    padding-top: 40px;
    padding-bottom:80px;
}

.navigation a {
    font-size: 22px;
    text-decoration:none;
    color: inherit;
}

.navigation a:hover {
    color: #FFA500;
}

.active {
    color: #FFA500;
}

a .highlight:hover {
    text-decoration: underline;
}

/* Footer */
.sociallinks a {
    text-decoration:none;
    color: inherit;
    hover: #FFA500;
 }
 .sociallinks a:hover {
     color: #FFA500;
 }

/*HOME PAGE*/

/*About*/
.highlight {
    color: #FFA500;
}
.abouttext {
    padding-right:40px;
}

.button {
    background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    border-color: white;
}

.button:hover {
    background-color: white;
    color:#FFA500;
}
/*Skills*/
.skilltitle {
    text-align: center;
}

.skillsection h1, li {
    color: white;
}

.skillsection {
    margin: auto;
    background: #FFA500;
}

/*Portfolio Section*/
.portfoliosection {
    margin: auto;
}

.portfoliosection a:hover {
    color: red;
}

/* ABOUT ME PAGE */
.aboutheadline {
    text-align:center;
}
.aboutphotos {
    padding: 20px;
}

/* SERVICES */
.servicesheadline {
    text-align:center;
}

.webservicelist {
    margin: auto;
    background: #FFA500;
}

.webservicelist ul {
    text-align: center;
}

.webservicelist li {
    color: white;
    font-size: 20px;
}

.webservicelist h5 {
    color:white;
    text-decoration: bold;
    font-size: 26px;
}

.splitcolumns {
    align: center;
}

.splitcolumns p {
    text-align: center;
    font-size: 22px;
}
.splitcolumns li {
    color: black;
    text-align: center;
    font-size: 16px;
}
.whysection {
    padding-left: 135px;
}

/** PORTFOLIO **/

.port-button {
    background-color: white;
    color: #FFA500;
}
.port-button:hover {
    background: #FFA500;
    color: white;

}

//** .projtwo {
    padding-left: 100px;
} */
.projtwo h3 {
    color:white;
} 



@media only screen and (max-width: 768px) {
.aboutsectionmobile {
    margin: auto;
    text-align: center;
}

.aboutmebutton {
    margin: auto;
}


.portfoliobuttonmobile {
    margin: auto;
}
}